.elements {
    display: grid;
    justify-content: center;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 978px) {
    .elements {
        margin-left: 20px;
        margin-right: 20px;
    }
}